# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security / API keys
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Large audio assets for testing
src/assets/samples/downloads/
public/audio/tmp/
*.wav
*.aif
*.mp3